<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>iPredict</title>
  <link rel="icon" href="/b1.jpg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand fs-4 fw-bold" href="/">iPredict</a>
            <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/console">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/mlb">MLB</a>
                </li>

                <!-- <li class="nav-item">
                  <a class="nav-link" href="/nfl">NFL</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/ncaa">NCAA</a>
              </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/nba">NBA</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/daily">Daily Plays</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tracker">Tracker</a>
              </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">Blog</a>
                </li>

                <%if(admin){%>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                  </li>
                  <%}%>





                    <li class="nav-item px-2">
                      <a href="/logout"><button class="btn btn-outline-info rounded-3 fw-semibold">Log Out</button></a>
                    </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <section class="main d-flex align-items-center" id="main-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="row">
            <div class="col-md-6 d-flex justify-content-center flex-column">
              <h2 class="fw-semibold text-white">
                Predict Scores of Major League
                <strong class="tech fw-bold"><br />
                  Baseball Games</strong>
              </h2>
              <h3 class="my-3 text-white">
                <!-- <span class="text-danger fw-semibold">
                    <Typewriter words={["Web Development", "App Development",
                    "Marketing", "Communication Skills"]} loop cursor
                    cursorStyle="|" typeSpeed={70} deleteSpeed={50}
                    delaySpeed={1500} />
                  </span> -->

                <div class="typing-demo">Hit, Run, Score!</div>
              </h3>
              <div class="m-2">
                <!-- <a
                    class="btn rounded-5 shadow-lg text-info border-info fw-semibold"
                    to="{props.visit}"
                    >Get Started</a
                  > -->
                <button type="button" class="btn rounded-5 shadow-lg text-info border-info fw-semibold"
                  data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Predict
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel">
                          Enter Player Lineup
                          <a href=""> </a>
                        </h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="form-floating">
                          <textarea class="form-control" placeholder="Leave a comment here" id="lineup1"
                            style="height: 14rem"></textarea>
                          <label for="floatingTextarea2">
                            <p class="fs-6">Home Team Line Up</p>
                          </label>
                        </div>
                        <div class="form-floating my-3">
                          <textarea class="form-control" placeholder="Leave a comment here" id="lineup2"
                            style="height: 14rem"></textarea>
                          <label for="floatingTextarea2">
                            <p class="fs-6">Away Team Line Up</p>
                          </label>
                        </div>
                        <div class="d-flex justify-content-around">
                          <div class="">
                            <div class="">
                              <p>Home Pitcher :</p>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault3" checked>
                              <label class="form-check-label" for="flexRadioDefault1">
                                Left
                              </label>
                            </div>

                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault4">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Right
                              </label>
                            </div>

                            <input type="text" class="mt-2 form-control text-center" id="homepitcherplayer"
                              placeholder="Home Pitcher">
                          </div>
                          <div class="">
                            <div class="">
                              <p>Away Pitcher :</p>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                id="flexRadioDefault1" checked>
                              <label class="form-check-label" for="flexRadioDefault1">
                                Left
                              </label>
                            </div>

                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                id="flexRadioDefault2">
                              <label class="form-check-label" for="flexRadioDefault1">
                                Right
                              </label>
                            </div>

                            <input type="text" class="mt-2 form-control text-center" id="awaypitcherplayer"
                              placeholder="Away Pitcher">
                          </div>


                          <!-- <div class="px-2 fs-6">
                            <p>Away Pitcher :</p>
                          </div>
                          <div class="form-check mx-2 fs-6">
                            <input class="form-check-input fs-6" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                              checked>
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                              Left
                            </label>
                          </div>

                          <div class="form-check fs-6">
                            <input class="form-check-input fs-6"  type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label fs-6" for="flexRadioDefault1">
                              Right
                            </label>
                          </div> -->
                        </div>

                      </div>
                      <div class="text-center text-danger fw-semibold" style="display: none; font-size: 0.8rem;"
                        id="error">
                        <p style="font-size: 0.8rem;">
                          Please enter the player lineup in correct format
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          Close
                        </button>
                        <button type="button" class="btn btn-primary" onclick="predict()" id="pre">
                          Predict
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="animated-img col-md-6">
              <img
                src="https://cdni.iconscout.com/illustration/premium/thumb/baseball-player-playing-in-match-5362963-4487705.png"
                class="img-fluid animated " alt="home" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <img src="wave.svg" alt="myPic" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script>

    function showError() {
      document.getElementById("error").style.display = "block";
    }

    function hideError() {
      document.getElementById("error").style.display = "none";
    }

    document.getElementById("lineup1").addEventListener("input", () => {
      document.getElementById("pre").innerHTML = "Predict"
      hideError()

    })
    document.getElementById("lineup2").addEventListener("input", () => {

      document.getElementById("pre").innerHTML = "Predict"
      hideError()

    })


    function predict() {
      var endPoint = "/predict";
      let lineup1 = document.getElementById("lineup1").value;
      let lineup2 = document.getElementById("lineup2").value;
      let away_pitcher, home_pitcher;
      if (document.getElementById("flexRadioDefault1").checked) {
        away_pitcher = "left"
      }
      if (document.getElementById("flexRadioDefault2").checked) {
        away_pitcher = "right"
      }

      if (document.getElementById("flexRadioDefault3").checked) {
        home_pitcher = "left"
      }
      if (document.getElementById("flexRadioDefault4").checked) {
        home_pitcher = "right"
      }


      if (!checklineup(lineup1.split("\n")) || !checklineup(lineup2.split("\n"))) {
        showError()
        return;
      }


      let home_pitcher_player = document.getElementById("homepitcherplayer").value;
      let away_pitcher_player = document.getElementById("awaypitcherplayer").value

      if (home_pitcher_player == "" || away_pitcher_player == "") {
        showError()
        return;
      }

      document.getElementById("pre").innerHTML = "Predicting..."




      fetch(endPoint, {
        method: "POST",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ lineup1, lineup2, away_pitcher, home_pitcher, home_pitcher_player, away_pitcher_player }),
      })
        .then((res) => {
          return res.json();
        })
        .then((fres) => {
          if (fres.code == 404) {
            document.getElementById("error").innerHTML = "Some Error Occured !"
          }
          else {

            localStorage.setItem("prediction", fres.message)
            window.location.href = "/prediction";
          }
        });
    }
    function checklineup(lineup) {
      if (lineup.length != 9) {
        return false;
      }
      for (let i = 0; i < lineup.length; i++) {
        if (!lineup[i].includes((i + 1).toString() + " - ")) return false;



      }

      return true;
    }
    document.getElementById("pre").innerHTML = "Predict"
  </script>
</body>

</html>